.certificado{
    width: 29.7cm;
    height: 21cm;
    display: flex;
    background-image:url("../../assets/images/diploma.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin:auto !important;
}

.nombreEgresade{
  margin-left: 6cm!important;
  font-size:50px;
}

.nodoEgresade
{
  margin-top:6.5cm!important; 
  margin-right: 7cm;
  text-align:right !important;
  color:white;
  text-transform: uppercase;
}
.pdfBotones{
  text-align: center;
  margin-top: 2%;
}
.datos{
  width: 29.7cm;
}
