.estadistica{
    text-align : center;
    margin: 20px;
}

.titulo{
    font-size: 24px;
    color: #808080;
}
.linea{
    width: 100%;
    border-bottom: 1px solid #BDBDBD;
    color: #808080;
}

.container-estadistica{
    width: 60%;
    height: 500px; 
    display: inline-flex;
    background:#EBF5EE;
    align-items:center ;
    justify-content:center; 
    margin-top: 25px;
}